# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

node_modules
/build
*.local
.svelte-kit

# Vite temporary config files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Yarn install state cache
.yarn/install-state.gz

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
